@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :host {
    display: block;
  }

  .ds1-main {
    @apply flex flex-col;
  }

  .my-label {
    @apply text-red-500 italic;
  }

  .salute {
    @apply font-bold;
  }

  .container {
    @apply mt-6;
  }
}
